body {
    margin: 0px;
}

@keyframes blink {
    0%,
    49% {
        opacity: 0;
    }
    50%,
    100% {
        opacity: 1;
    }
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game-window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    width: 1600px;
    border-style: solid;
}

#start-btn {
    position: absolute;
    margin-top: 300px;
    margin-left: 310px;
    height: 50px;
    width: 500px;
    font-size: 40px;
}

#restart-game {
    position: absolute;
    margin-top: 300px;
    margin-left: 150px;
    height: 50px;
    width: 500px;
    font-size: 40px;
}

h2#start-btn {
    animation: blink 0.8s linear infinite;
}

#directions {
    position: absolute;
    margin-top: 650px;
    font-size: 30px;
}

#game-start, #game-over {
    position: absolute;
    font-family: 'Titan One', sans-serif;
    font-size: 100px;
}

#highscore {
    position: absolute;
    font-family: 'Titan One', sans-serif;
    margin-right: 1200px;
    margin-bottom: 750px;
    font-size: 50px;
}

canvas {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
}